@import "alumno";
@import "media";

body {
    font-size: 10px;
    background-color: #f5f5f5;
}

nav {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
}

.container-junta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.junta {
    flex-basis: 33%;
    width: 10rem;
}

.nombreIES {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;

    width: 100%;
}

.logo {
    width: 13rem;
}

.titulo {
    font-size: 3rem;
    text-align: center;

    width: 100%;

    margin-top: 0;

    font-family: 'Dancing Script', cursive;
}